# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment variables
.env

# Database
*.sqlite3

# Logs
*.log

# Static & Media
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db